.buttons {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}
.button-tray
{
	display: flex;
	justify-content: center;	
}
.main_image
{
	margin-left: 10%;
	width: 80%;
}
#container
{

}
#title
{
	margin-left: 18%;
}